* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  color: #3c4043;
}

h3 {
  font-style: italic;
  font-weight: bold;
  color: black;
  line-height: 1.5;
  text-align: center;
}
p {
  font-size: 25px;
  padding: 5px;
  margin: 0 auto;
  text-align: left;
  color: black;
}
blockquote {
  font-style: italic;
  margin: 30px 0;
  padding: 20px;
  border-left: 5px solid #3c4043;
  color: #555;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  text-align: justify;
}

blockquote:before {
  content: "\201C";
  font-size: 60px;
  line-height: 1;
  margin-right: 15px;
  vertical-align: middle;
  color: #3c4043;
}

blockquote:after {
  content: "\201D";
  font-size: 60px;
  line-height: 1;
  margin-left: 15px;
  vertical-align: middle;
  color: #3c4043;
}
.container {
  max-width: 1280px;
  margin: auto;
  padding: 0 40px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#card-p {
  padding: 40px;
}

#card-p {
  padding: 40px;
}

img {
  width: 100%;
  height: auto;
}

/* Media queries */
@media (max-width: 768px) {
  .col-md-8 {
    width: 100%;
  }

  .col-md-4 {
    width: 100%;
  }

  .col-md-12 {
    width: 100%;
  }
}
